@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="nav2">
	<ul class="list-unstyled components">
		<li><a href="/MovieList#Suspense">Suspense </a></li>
		<li><a href="/MovieList#RomCom">RomCom</a></li>
		<li><a href="/MovieList#Horror">Horror</a></li>
		<li><a href="/MovieList#Action">Action</a></li>
		<li><a href="/MovieList#SciFi">SciFi</a></li>
		<li><a href="/MovieList#Drama"> Drama </a></li>
		<li><a href="/MovieList#Romance"> Romance </a></li>
		<li><a href="/MovieList#Thriller"> Thriller </a></li>
		<li><a href="/MovieList#Documentary"> Documentary </a></li>
		<li><a href="/MovieList#Adventure">Adventure</a></li>
		<li><a href="/MovieList#Musical"> Musical</a></li>
		<li><a href="/MovieList#Mystery"> Mystery </a></li>
		<li><a href="/MovieList#Comedy">Comedy</a></li>
		<li><a href="/MovieList#Sport"> Sport</a></li>
		<li><a href="/MovieList#ShortFilm"> Short Film </a></li>
	</ul>
</nav>
<div id="Welcome">
	<main role="main">
		<div class="row">
			<div class="col ">
				<div class="col title">
					<h1>TOTALLY REEL </h1>
					<h2>MOVIE REVIEW</h2> </div>
               <div class="row">
                  <div class="col">
                     <div class="swiper-container">
                        <div class="swiper-wrapper"> 
                           @{ int slideNum = 1; 
                              string slideNumString = null; 
                              string srcString = null; 
                           } 
                           @foreach (var movie in Model.Movies) { 
                              {slideNumString = slideNum.ToString(); 
                              srcString = @movie.Title + ".png"; }
                              <div class="swiper-slide flip-card">
                                 <a href="MovieTemplate?id=1">
                                    <div class="flip-card-inner">
                                       <div class="flip-card-front "> <img src="~/images/@srcString" alt="slide @slideNumString"> </div>
                                       <div class="flip-card-back" style="margin:0 text-align: center;">
                                          <h3>@movie.Title</h3> <b>Age Rating:</b> @movie.Age_Rating &nbsp; &nbsp; &nbsp; <b>Genre:</b> @movie.Genre
                                          <br>
                                          <br>
                                          <p>@movie.Details</p>
                                       </div>
                                    </div>
                                 </a>
                              </div> {slideNum++;} 
                              }
                           </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                     </div>

					<div class="row lists .col-container">
							<div class="col rank">
								<h2> <div class="ranking">Top 10 Movies</div> </h2>
								<ul>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
								</ul>
							</div>
							<div class="col rank">
								<h2> <div class="ranking">Featured Films</div> </h2>
								<ul>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</ul>
							</div>
							<div class="col rank">
								<h2><div class="ranking">Fan Favorites</div></h2>
								<ul>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
									<li>
										<h3>MOVIE ONE</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</li>
								</ul>
							</div>
						</div>
						</div>
					</div>
             </div>
		   </div>
	   </main>
	</div>