@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav class="nav2"> 

   <ul class="list-unstyled components">
      <li><a href="/MovieList#Suspense">Suspense </a></li>
      <li><a href="/MovieList#RomCom">RomCom</a></li>
      <li><a href="/MovieList#Horror">Horror</a></li>
      <li><a href="/MovieList#Action">Action</a></li>
      <li><a href="/MovieList#SciFi">SciFi</a></li>
      <li><a href="/MovieList#Drama"> Drama </a></li>
      <li><a href="/MovieList#Romance"> Romance </a></li>
      <li><a href="/MovieList#Thriller"> Thriller </a></li>
      <li><a href="/MovieList#Documentary"> Documentary </a></li>
      <li><a href="/MovieList#Adventure">Adventure</a></li>
      <li><a href="/MovieList#Musical"> Musical</a></li>
      <li><a href="/MovieList#Mystery"> Mystery </a></li>
      <li><a href="/MovieList#Comedy">Comedy</a></li>
      <li><a href="/MovieList#Sport"> Sport</a></li>
      <li><a href="/MovieList#ShortFilm"> Short Film </a></li>
   </ul>

</nav>


<div id="Welcome">
<main role="main">

    <div class="row" >
      <div class="col ">
                <div class="col title">
              <h1 >TOTALLY REEL </h1> 
               <h2>MOVIE REVIEW</h2> 
    </div>
         <div class="row" >
            <div class="col">
             
 @* <img src="~/images/bg1.jpg" alt="..." > 
 *@

   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
   <ol class="carousel-indicators">
   <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
   </ol
   <div  class="container-fluid" >
      <div  id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
         <div class="carousel-inner row w-100 mx-auto" role="listbox" >

       
          @{
               int slideNum = 1;
               string slideNumString = null;
               string srcString = null;}

         
            @foreach (var movie in Model.Movies)
            { 
                  {slideNumString = slideNum.ToString();
                  srcString =  @movie.Title + ".png";
                  }

                <div  class="carousel-item active flip-card" >             @*style="background-image: url('../images/bg1.jpg');  opacity: 0.7;"> *@
                  <a href = "MovieTemplate?id=@movie.Id">
                   <div class="flip-card-inner"  >
                     <div class="flip-card-front " >
                           <img style="margin:0" class="img-fluid mx-auto d-block" src="~/images/@srcString" alt="slide @slideNumString"> 
                     </div>
                     <div class="flip-card-back"   style="margin:0 text-align: center;">
                       <h3>@movie.Title</h3>
                       <b>Age Rating:</b> @movie.Age_Rating &nbsp; &nbsp; &nbsp;
                       <b>Genre:</b> @movie.Genre
                       <br><br>
                       <p>@movie.Details</p>
                     </div>
                  </div>
                  </a>
               </div>
               {slideNum++;}
            }  
 </div>


         <div class="row lists">


                     <div class="col rank1" >






                        <h2>Top 10 Movies</h2>
                        <ul>
                           <li>MOVIE ONE</li>
                           <li>MOVIE TWO</li>
                           <li>MOVIE THREE</li>
                           <li>MOVIE FOUR</li>
                           <li>MOVIE FIVE</li>
                           <li>MOVIE SIX</li>
                           <li>MOVIE SEVEN</li>
                           <li>MOVIE EIGHT</li>
                           <li>MOVIE NINE</li>
                           <li>MOVIE TEN</li>
                        </ul>
                     </div>
                     <div class="col rank2" >
                        <h2>Featured Films</h2>
                        <ul>
                           <li>MOVIE</li>
                           <li>MOVIE</li>
                           <li>MOVIE </li>
                           <li>MOVIE </li>
                           <li>MOVIE</li>
                           <li>MOVIE </li>
                           <li>MOVIE </li>
                           <li>MOVIE </li>
                           <li>MOVIE </li>
                           <li>MOVIE </li>
                        </ul>
                     </div>
                     <div class="col rank3" >
                        <h2>Fan Favorites</h2>
                        <ul>
                           <li>MOVIE ONE</li>
                           <li>MOVIE TWO</li>
                           <li>MOVIE THREE</li>
                           <li>MOVIE FOUR</li>
                           <li>MOVIE FIVE</li>
                           <li>MOVIE SIX</li>
                           <li>MOVIE SEVEN</li>
                           <li>MOVIE EIGHT</li>
                           <li>MOVIE NINE</li>
                           <li>MOVIE TEN</li>
                        </ul>
                     </div>
            
         </div>

       </div>

   </div>

 
</main>        
</div>