@page
@model TRMR.Pages.MovieTemplateModel
@{
   ViewData["Title"] = Model.CurrentMovie.Title;
   string reelName = "";
}

@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)){ 
   ApplicationUser appUser = await UserManager.GetUserAsync(User); 
   reelName = appUser.ReelName; 
   }


<nav class="nav2"> 

   <ul class="list-unstyled components">
      <li><a href="/MovieList#Suspense">Suspense </a></li>
      <li><a href="/MovieList#RomCom">RomCom</a></li>
      <li><a href="/MovieList#Horror">Horror</a></li>
      <li><a href="/MovieList#Action">Action</a></li>
      <li><a href="/MovieList#SciFi">SciFi</a></li>
      <li><a href="/MovieList#Drama"> Drama </a></li>
      <li><a href="/MovieList#Romance"> Romance </a></li>
      <li><a href="/MovieList#Thriller"> Thriller </a></li>
      <li><a href="/MovieList#Documentary"> Documentary </a></li>
      <li><a href="/MovieList#Adventure">Adventure</a></li>
      <li><a href="/MovieList#Musical"> Musical</a></li>
      <li><a href="/MovieList#Mystery"> Mystery </a></li>
      <li><a href="/MovieList#Comedy">Comedy</a></li>
      <li><a href="/MovieList#Sport"> Sport</a></li>
      <li><a href="/MovieList#ShortFilm"> Short Film </a></li>
   </ul>
</nav>



<div id="MovieDetails">
   <main role="main" class="pb-3">
      <div class="row content">
         <div class="col">
            @{string link = @Model.CurrentMovie.Title + ".png";}
            <img id="Movie_Poster_Pic" src="~/images/@link" alt="Movie Poster Pic" width="266" height="400" style="float:right;">
            <h2>@Model.CurrentMovie.Title</h2>
            <div class="MovieFactList">
               <ul>
                  <li>Movie Title: @Model.CurrentMovie.Title</li>
                  <li>Director: @Model.CurrentMovie.Director</li>
                  <li>Starring: @Model.CurrentMovie.Starring</li>
                  <li>Genre: @Model.CurrentMovie.Genre</li>
                  <li>Age Rating: @Model.CurrentMovie.Age_Rating</li>
                  <li>Cast</li>
                  <ul>
                     @foreach (var actor in Model.CurrentMovie.Cast)
                     {
                     <li>@actor</li>
                     }
                  </ul>
               </ul>
            </div>
            <h2>Movie Description</h2>
            <p>@Model.CurrentMovie.Details</p>
            <div class="reviewList">
               <h2>Reel Reviews</h2>
               @if(Model.Reviews.Count() == 0){
               <p>Don't be shy... be the first to write a reel review!</p>
               }
               
<ul class="list-unstyled">


 @foreach (var rev in Model.Reviews)
                  {
                     
  <li class="media">
    
    <div class="media-body">
      <h5 class="mt-0 mb-1">User <a href="Profile?userName=@rev.User_Name">@rev.User_Name</a> <i>gives @Model.CurrentMovie.Title a @rev.Rating /10 </i> </h5>
      <div class="col-sm-10" style="background-color: white;">
          <p style="margin-left:15px;">
           @rev.Description
       </p>  

      </div>
      
    </div>
 

  </li>}
               </ul>

               <h3 style="background-color: #3D7070;"> Share Your Reel Review</h3>
               @if (SignInManager.IsSignedIn(User) ) //for testing you can just replace the conditional with "true" to see the page as if you were a signed in user 
               {
                    
                   <form method="post" id="review">
                      <input asp-for="TheReview.User_Name" type="hidden" value="@reelName">
                     <input asp-for="TheReview.Movie_Id" type="hidden" value="@Model.CurrentMovie.Id">
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Leave a Reel Review!</label>
                          <div class="col-sm-6">
                              <input id="in" asp-for="TheReview.Description" type="text" class="form-control" placeholder="Enter your review...">
                          </div>
                        <small class="form-text text-muted">All reviews will be monitored for ...? Please make sure to follow the rules in link</small> 
                     </div>

                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">And a rating</label>
                        <div class="col-sm-5">
                           <input id="in2" asp-for="TheReview.Rating" type="number" class="form-control" step="1" min="0" max="10" placeholder="Enter a rating 0-10...">
                        </div>
                         <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary" onClick="removeForm()" >Submit</button>
                        </div>
                     </div>
                    

                     
               </form>

               }
               else
               {
                  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login To Post Your Reel Review!</a>
               }
            </div>
         </div>
      </div>
   </main>
</div>

<script>

function removeForm(){
   var form =  document.getElementById("review")[0];
   form.submit();
   document.getElementById("in")[0].value = '';
   document.getElementById("in2")[0].value = '';  
}
</script>