@page
@model TRMR.Pages.ProfileModel
@{
    ViewData["Title"] = /*Model.CurrentUser.User_Id + "'s " +*/ "Profile";
}
@inject SignInManager<ApplicationUser> SignInManager 
@inject UserManager<ApplicationUser> UserManager


<main>
   <strong>
      <u>
         <h2> @Model.CurrentUser.ReelName's Profile Page:</h2> 
      </u>
   </strong>
   <ul>
      <div class="profileList">
         <li><u>@Model.CurrentUser.ReelName's favorite movie(s):</u> @Model.CurrentUser.FavMovie </li>
         <li><u>@Model.CurrentUser.ReelName's favorite genre(s):</u> @Model.CurrentUser.FavGenre </li>
         <li><u>@Model.CurrentUser.ReelName's fun fact:</u> @Model.CurrentUser.Bio </li>
      </div>
   </ul>
</main>